*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.upper{
    background: linear-gradient(rgb(111, 78, 243),blue);
    height: 33rem;
    width: 100%;
}
.header{
    width: 100%;
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    position: sticky;
    top: 0px !important;
}
.s1{
    font-size: 2rem;
    color: blue;
    margin-top: rem;
    margin-left: 4rem;
    /* position:fixed; */
    
}
.sakhi{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}
.ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.ul li{
    margin-left: 15px;
}
li:hover{
    border-bottom: 2px solid blue;
    color: rgb(244, 241, 241);
    background-color: rgb(151, 151, 251);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.we{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: 7rem;
    text-align: center;
    font-weight: 900;
}
.now{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3rem;
}
.html{
     font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
.button1{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 0;
    font-size: 1rem;
    background-color: rgb(255, 128, 0);
    margin-left: 30rem;
    margin-top: 3rem;
    /* position: fixed; */

}
.button2{
    background-color: aliceblue;
     border-radius: 5px;
    border: 0;
    font-size: 1rem;
     margin-left: 40rem;
    margin-top: 3rem;
     padding: 10px 20px 10px 20px;
     color: rgb(96, 9, 234);
}
.subscribe{
       background-color: rgb(60, 60, 253);
       padding: 10px;
       border-radius: 10px;
       width: 7rem;
}
.subscribe:hover{
    background-color: rgb(181, 182, 182);
}
@media (max-width:768px) {
   .sakhi{
    font-size: 1rem;
   } 
   .subscribe{
     padding: 8px;
     width: 5rem;
     height: 2.5rem;
     
   }
   .we{
    font-size: 2rem;
    padding: 20px;
    padding-top: 5px;
   }
   .now{
    font-size: 1.5rem;
    margin-top: 10px;
   }
   .button1{
    margin-left: 5rem;
   }
   .viewmore{
      padding-left: 20px;
   }
   .ul li{
    margin-left: 4px;
   }
   .ul {
    gap: 5px;
   }
}